html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

img{
  object-fit: cover;
  object-position: 0 30%;
}

/* ----------- Loading ------------- */
@import url("./loading.css");

/* ----------- Home social ------------- */
@import url("./home.css");

/* ----------- Detail social ------------- */
@import url("./detail.css");

/* ----------- Modal social ------------- */
@import url("./modal.css");

@import url(https://fonts.googleapis.com/css?family=Inconsolata);

body {
  font-family: 'Inconsolata', san-srif ;
}

p{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #333333;
}

.font-special-p {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #344054;
}

.bg-badges {
  background: #F2F4F7
}

.color {
  color: #942F70
}

.border-selected-image {
  padding: 0.25rem;
  background-color: #fff;
  border-radius: 0.25rem;
  max-width: 100%;
  height: auto;
  border-radius: 0.25rem!important;
}

.back_ground {
  background: linear-gradient(138.11deg, #FEF452 0%, #942F70 121.92%);
}

.container-globals {
  width: 100%; 
  min-height: 170vh !important;
  max-width: 300vh;
  background: linear-gradient(138.11deg, #FEF452 0%, #942F70 121.92%);
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
  }

/* layout */
.navbar-item-li {
  height: 24px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #333333 !important;
  flex: none;
  order: 0;
  flex-grow: 0;
  cursor: pointer;
  text-decoration: none
}

.li-mr {
  margin: 0px 20px 0px 16px
}